modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Hugo Server"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web Server"

[[workflows.workflow]]
name = "Web Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"
waitForPort = 5000

[[workflows.workflow]]
name = "Hugo Server"
author = 40860523
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx hugo --minify"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000 --directory ./public"

[deployment]
run = ["sh", "-c", "python -m http.server 5000 --directory ./public"]
build = ["sh", "-c", "hugo --minify"]

[[ports]]
localPort = 5000
externalPort = 80
