modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["unzip"]

[workflows]

[[workflows.workflow]]
name = "Hugo Server"
mode = "parallel"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "hugo server --bind=0.0.0.0 --port=5000"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "hugo server --bind=0.0.0.0 --port=5000"]
build = ["sh", "-c", "hugo --minify"]

[[deployment.responseHeaders]]
path = "*.css"
name = "Cache-Control"
value = "no-cache, no-store, must-revalidate"

[[deployment.responseHeaders]]
path = "/css/*"
name = "Cache-Control" 
value = "no-cache, no-store, must-revalidate"

[[ports]]
localPort = 5000
externalPort = 80
