{{- /* Consistent NAP (Name, Address, Phone) format for local SEO */ -}}
<div class="nap-info" itemscope itemtype="https://schema.org/LocalBusiness">
    <span itemprop="name">Executive Speech Coaching NYC</span>
    <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
        <span itemprop="streetAddress">1178 Broadway, 3rd Floor</span>,
        <span itemprop="addressLocality">New York</span>,
        <span itemprop="addressRegion">NY</span>
        <span itemprop="postalCode">10001</span>
    </div>
    <a href="tel:+19173009337" itemprop="telephone">917-300-9337</a>
</div>