<div class="cta-section letter-2">
  <div class="container giant-bottom">
    <div class="_2-column-content">
      <!-- Left side with CTA -->
      <div class="hero-left">
        <h2 class="enlarged-h2 white-text _5em-bottom-margin">
          {{ .Site.Params.cta.title | default "Ready to transform" | safeHTML }} <em>{{ .Site.Params.cta.emphasis | default "your" | safeHTML }}</em><br>
          {{ .Site.Params.cta.subtitle | default "speaking skills?" | safeHTML }}
        </h2>
        <h4 class="white-text _1-5em-bottom-margin">
          {{ .Site.Params.cta.description | default "Book a 1-hour virtual speech coaching session to help you gain confidence, refine your delivery, and develop a powerful executive presence that gets results." | safeHTML }}
        </h4>
        <div>
          <a href="{{ .Site.Params.cta.buttonLink | default "/book-session" }}" class="medium-button gold w-button">
            {{ .Site.Params.cta.buttonText | default "YES, I WANT TO IMPROVE MY SPEAKING SKILLS" | safeHTML }}
          </a>
        </div>
      </div>
      
      <!-- Right side with testimonial -->
      <div class="hero-right">
        <div class="testimonial-headshot">
          <div class="testimonial-headshot-image" 
               style="background-image: url('{{ .Site.Params.testimonial.image | default "/images/testimonial.jpg" }}'); 
                      background-size: cover; 
                      background-position: center;">
          </div>
          <div class="testimonial-text-container">
            <p class="_1em-bottom-margin"><em>{{ .Site.Params.testimonial.quote | default "My experience with Daniel as a speech coach has been nothing short of transformative. His holistic approach helped me improve my speech and taught me to be a better communicator." | safeHTML }}</em></p>
            <p>{{ .Site.Params.testimonial.name | default "Sammy Anand" | safeHTML }}</p>
            <p class="smaller-text">{{ .Site.Params.testimonial.title | default "Software Engineering Consultant, Moment" | safeHTML }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>