<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    <!-- Top bar -->
    <div class="section black">
        <div class="container">
            <div id="w-node-_94cb6b16-abd2-8912-344d-34cc6e554b8b-80943301" class="top-bar">
                <p class="_600"><strong>Book a complimentary 15‑minute consultation with Dan Reece</strong></p>
                <a href="/booking" class="small-button gold w-button">Schedule&nbsp;Now</a>
            </div>
        </div>
    </div>
    
    <!-- Navigation -->
    <div class="section">
        <div class="container">
            {{ partial "nav.html" . }}
        </div>
    </div>
    
    <!-- Main Content -->
    {{ block "main" . }}{{ end }}
    
    <!-- Footer -->
    {{ partial "footer.html" . }}
</body>
</html>