<!-- layouts/partials/default/navbar.html -->
<div class="section">
  <div class="container">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
      <div class="brand-wrapper-large">
        <a href="index.html" aria-current="page" class="navigation-brand w-inline-block w--current"></a>
      </div>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <!-- Dropdowns and Links -->
      </nav>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>