<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Daniel Reece",
  "jobTitle": "Executive Speech Coach",
  "url": "{{ site.BaseURL }}about/",
  "image": "{{ site.BaseURL }}images/daniel-reece.jpg",
  "worksFor": {
    "@type": "LocalBusiness",
    "@id": "{{ site.BaseURL }}#organization",
    "name": "{{ site.Title }}"
  },
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "1178 Broadway, 3rd Floor",
    "addressLocality": "New York",
    "addressRegion": "NY",
    "postalCode": "10001",
    "addressCountry": "US"
  },
  "sameAs": [
    {{- $social := slice -}}
    {{- with site.Params.seo.social.linkedin -}}{{ $social = $social | append . }}{{- end -}}
    {{- with site.Params.seo.social.twitter -}}{{ $social = $social | append (printf "https://twitter.com/%s" (strings.TrimPrefix "@" .)) }}{{- end -}}
    {{- range $i, $url := $social -}}
    {{- if $i -}},{{- end -}}
    "{{ $url }}"
    {{- end }}
  ],
  "knowsAbout": [
    "Executive Communication",
    "Public Speaking",
    "Speech Coaching",
    "Leadership Communication",
    "Executive Presence",
    "Business Communication",
    "Presentation Skills"
  ]
}
</script>