<!-- layouts/partials/home/featured-in.html -->
<div class="section">
  <div class="container">
    <div class="_5-column-content">
      <div id="w-node-_9949aae3-f3c1-723b-26a9-9f40bbb5dc7a-80943301" class="center-align-text">
        <h4>Featured In</h4>
      </div>
    </div>
  </div>
  <div class="container tiny-top small-bottom">
    <div class="logo-bar-1">
      <div id="w-node-_0ba719a8-f910-1378-f39c-2ac23a7b52ef-80943301" class="hero-logo-container-1 _15"></div>
      <div id="w-node-_802f581b-aaf5-ab23-5002-0c21f1bb47b9-80943301" class="hero-logo-container-1 _16"></div>
      <div id="w-node-_99adf1cd-9f20-a609-2136-4afa98e999fb-80943301" class="hero-logo-container-1 _17"></div>
      <div id="w-node-_7315166d-dd17-e211-b54b-f97c3ed95322-80943301" class="hero-logo-container-1 _18"></div>
      <div id="w-node-_12a2aed3-2a72-7aa8-7da6-88757c7074f5-80943301" class="hero-logo-container-1 _19"></div>
    </div>
  </div>
</div>