<!-- layouts/partials/home/hero.html -->
<div class="section">
  <div class="container large-top medium-bottom">
    <div class="_8-column">
      <div id="w-node-_271b1228-230a-0e08-7cdc-b7cec1c69fbb-80943301" class="hero-left-1">
        <h1 class="_5em-bottom-margin"><span class="hero-highlight-1">A Proven Method</span> to Organize Your Digital Life and Unlock Your Creative Potential</h1>
        <h4 class="_1-5em-bottom-margin"><strong>Get the Second Brain Quickstart Guide</strong> to start building your Second Brain, increase your productivity, and ​​lead a more fulfilling life with more ease and less stress.</h4>
        <div><a href="https://fortelabs.ck.page/b0c4d2241a" data-formkit-toggle="c1038bcc7e" class="medium-button gold w-button">Yes, I want to build my Second Brain</a></div>
      </div>
      <div id="w-node-_271b1228-230a-0e08-7cdc-b7cec1c69fc7-80943301" class="hero-right-2">
        <div style="padding-top:56.17021276595745%" class="w-embed-youtubevideo hero-video">
          <iframe src="https://www.youtube.com/embed/YOLELC41vtk?rel=0&amp;controls=1&amp;autoplay=0&amp;mute=0&amp;start=0" frameBorder="0" style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:auto" allow="autoplay; encrypted-media" allowfullscreen title="What is Building a Second Brain?"></iframe>
        </div>
      </div>
    </div>
  </div>